<div class="home-hero" style="font-weight: 900; font-size: 20px;">
    <a href="/ISTQB-certification/">
      <img src="{{ '/assets/images/Test/ISTQB.webp' | relative_url }}" alt="ISTQB Icon" class="hero-logo">
    </a>
    <p class="welcome-text">
      Read my <a href="/ISTQB-certification/">ISTQB Certification post to learn how!</a> post on how to kickstart your QA journey with confidence!
    </p>   
    <p class="welcome-text">
      Check out this ISTQB exam prep book 
      <a href="https://amzn.to/4s5Jmj4">
        Software Testing: An ISTQB-BCS Certified Tester Foundation Level guide (CTFL v4.0)
      </a>
      to build your core testing skills.
    </p>
</div>
