<div class="home-hero" style="font-weight: 900; font-size: 20px;">
    <a href="/ISTQB-certification/">
      <img src="{{ '/assets/images/Test/ISTQB.webp' | relative_url }}" alt="ISTQB Icon" class="hero-logo">
    </a>
    <p class="welcome-text">
      Read my <a href="/ISTQB-certification/">ISTQB Certification post to learn how!</a> post on how to kickstart your QA journey with confidence!
    </p>   
    <p class="welcome-text">
      Check out this ISTQB exam prep book 
      <a href="https://amzn.to/4s5Jmj4">
        Software Testing: An ISTQB-BCS Certified Tester Foundation Level guide (CTFL v4.0)
      </a>
      to build your core testing skills.
    </p>
</div>

<style>    
  /* Mobile first (works for phones) */
   @media (max-width: 768px) {
  .home-hero {
    text-align: center;
    font-weight: 600;
    border-top: 5px solid #ccc; /* grey divider */
    padding-top: 10px;          /* space below the line */
    margin-top: 20px;
    width: 250px;
    display: block;
  }
  .hero-logo {
    width: 250px;
    display: block;
    float: none;
    margin-top: 20px;
    margin-left: 75px;
  }
   .welcome-text {
     margin-left: 25px;
   }  
}
  
  /* Desktop and larger */
  @media (min-width: 992px) {
    .home-hero {
      margin-top: 100px;  
      text-align: center;
      font-weight: 600;
      margin-left: 50px;
      border-top: 5px solid #ccc; /* grey divider */
      padding-top: 10px;          /* space below the line */
      border-top: 5px solid #ccc; /* grey divider */
      width: 980px;
    }
    .hero-logo {
      border-radius: 5px;
      margin-top: 100px;   /* your original top spacing */
      margin-left: 375px;
      width: 250px;
      display: block;
      float: none;
      
    }
    .welcome-text {
     text-align: center;
     font-weight: 600; 
    }  
  } 

  .hero-logo img {
    border-radius: 5px;
  }
</style>       

