---
layout: default
---

<nav class="breadcrumbs">
  <a href="{{ site.baseurl }}/">Home</a>{% assign cat = page.categories[0] %}&gt;<a href="{{ site.baseurl }}/{{ cat | downcase | replace: ' ', '-' }}/">{{ cat }}</a>&gt;<span class="current-page-title">{{ page.title }}</span>
</nav>

<br/><br/><br/><br/>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div style="max-width: 700px; margin: 0 auto; padding: 20px;">
  {{ content }}
</div>

<h2 class="related-posts-title">You may also like...</h2>
  <div class="related-posts-grid">
    {% assign primary_category = page.categories[0] %}
    {% assign counter = 0 %}
    {% for related in site.posts %}
      {% if related.url != page.url and related.categories contains primary_category %}
        <div class="related-post">
          <a href="{{ related.url }}">
            <img src="{{ related.image }}" alt="{{ related.title }}" style="width:100%;height:auto;">
            <p>{{ related.title }}</p>
          </a>
        </div>
        {% assign counter = counter | plus: 1 %}
        {% if counter == 4 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  

  {% include disqus.html %}
</article>

<style>
  /* H1 Titles */
  h1 {
    text-align: center;
     margin-left: 0px;
  }  
  .related-posts-title {
    text-align: left;
    margin-left: 0px;
  }  

  
 @media only screen and (min-width: 820px) and (max-width: 2000px) { 
   h1 {
    text-align: center;
    margin-left: 250px;
    line-height: 40px; 
    widith: 700px; 
  }  
   
  .related-posts-title {
    text-align: left;
    margin-left: 0px;
  }  
 
 } 



 @media only screen and (min-width: 820px) and (max-width: 2000px) {
/* Change Page Size */
body {
  width: 1100px; /* makes body full width */
  margin-left: 200px;   /* centers the content if max-width is limited */
  margin-right: 200px; 	
}

.container, .wrapper, .entry {
  width: 700px; /* or whatever width you want */
  margin-left: 150px;   /* centers the content if max-width is limited */
  margin-right: 200px; 	
}

} / * End Desktop */	

.site-name {
  margin-to: 50px;
  
}  

 
</style>
